[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Dialer
Comment=Rhizomatica Dialer
Exec=killall -s SIGUSR1 dialer
Icon=rhizo_dialer_icon
Type=Application
Categories=Telephony;
X-HildonDesk-ShowInToolbar=true
X-Osso-Service=dialer
X-Osso-Type=application/x-executable
